<ion-header>
  <ion-toolbar color = "success">
    <ion-title >signup</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content>
        <!-- <app-logo></app-logo> -->
        
        <h1><app-logo></app-logo><h2>Create Account</h2></h1>
       
        <form>
            <ion-list>

                <ion-item>
                    <ion-label position = "floating"><ion-icon name="mail-open"></ion-icon>Email</ion-label>
                    <ion-input type= "email" ></ion-input>
                    </ion-item>

             <ion-item>
              <ion-label position = "floating"><ion-icon name="contact"></ion-icon>Username</ion-label>
              <ion-input type= "text" ></ion-input>
              </ion-item>
      
              <ion-item>
                  <ion-label position = "floating"><ion-icon name="lock"></ion-icon>Password</ion-label>
                  <ion-input type= "password" ></ion-input>
                  </ion-item>

                  <ion-item>
                      Already you have account ?
                      <a [routerLink]="['/login']" color = "success" >Sign In</a> 
                    </ion-item>
           <ion-button expand = "block" shape='round' color = "success" (click)="navigatetohome()">Sign Up</ion-button>
          </ion-list>
        </form>
      
      </ion-content>
      

