<ion-header>
  <ion-toolbar color=warning>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="presentActionSheet()" color="warning"> Show Action Sheet</ion-button>
  <ion-button (click)="presentAlertPrompt()" color="warning" fill="outline"> Show Alert</ion-button>


</ion-content>
<ion-footer>
  <ion-toolbar color="warning">
    @album2019
  </ion-toolbar>
</ion-footer>