<ion-header>
  <ion-toolbar color='warning'>
    <ion-title (click)=" backtohome() ">
      <ion-icon name="arrow-back"></ion-icon>
      showdetailsofitems
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let img of images">
        <ion-img-viewer src="assets/icon/{{img}}" class="thumb-img" ></ion-img-viewer>
    </ion-slide>
  </ion-slides>
  <h1>Item Details</h1>
  <ion-item>
  <label>{{itemDetails.name}}</label>
  </ion-item>
  <ion-item>
  <label>{{itemDetails.text}}</label>
  </ion-item>
  
  <!-- <ion-img-viewer title="" alt="" text="" src="./assets/icon/1.jpeg"></ion-img-viewer> -->
      </ion-content>