page-slides {
 
    ion-slide.swiper-slide {
        left: 50%;
              
    }
        .slide-zoom {
        background: #9b8a8a;
        // text-align: center;  
    }
 
    }
.swiper-slide img{
    margin-top: 50%;
    
}
