


<ion-tabs >
    <ion-header>
        <ion-toolbar color= "success">
          <ion-title><ion-icon name="home" (click)="showdata()"></ion-icon>Home</ion-title>
          <ion-title slot ="end"><ion-icon name="log-out"  (click) = "navigatebacktosigninpage()"></ion-icon>Logout</ion-title> 
        </ion-toolbar>
      </ion-header>
      
      
      
  <ion-tab-bar slot="bottom" color = "dark">
    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
            <ion-label>profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="send"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>